[Desktop Entry]
Encoding=UTF-8
Name=【SUUMO】ツインキャッスルＢ／東京都調布市飛田給２／飛田給駅の賃貸・部屋探し情報（000013602448） | 賃貸マンション・賃貸アパートへのリンク
Type=Link
URL=https://suumo.jp/chintai/tokyo/sc_chofu/jnc_000013602448/?bc=100063547933
Icon=text-html
