[Desktop Entry]
Encoding=UTF-8
Name=【SUUMO】赤坂フラワ－ハイツ／東京都港区赤坂２／溜池山王駅の賃貸・部屋探し情報（000016696463） | 賃貸マンション・賃貸アパートへのリンク
Type=Link
URL=https://suumo.jp/chintai/tokyo/sc_minato/jnc_000016696463/?bc=100067843309
Icon=text-html
